<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                Hi, Welcome to User Management System
            </h1>
            <!-- <app-profile></app-profile> -->

        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide left floated column">
                    <img src="assets/home_image.png" class="ui medium bordered rounded image">
                </div>
                <div class="six wide left floated column">
                    <h2 class="ui large bordered rounded text"> Click the above menu to start...</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">

            </div>
        </div>
    </div>

</div>